<h1><%= @task.id %>のメッセージ詳細ページ</h1>
<!-- show_table -->
<table class="table table-striped">
  <tr>
    <th>スタッツ</th>
    <td><%= @task.status %></td>
  </tr>
  <tr>
    <th>タスク</th>
    <td><%= @task.content %></td>
  </tr>
</table>
<!-- edit_button -->
<%= link_to "このタスクを編集する", edit_task_path(@task), class: "btn btn-light" %>
<%= link_to "このタスクを削除する",@task, method: :delete, data: { confirm: "本当に削除してもよろしいですか"}, class: "btn btn-danger" %>